@media (max-width: 767px) {
  .responsive-image {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .responsive-image {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1024px) {
  .responsive-image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .responsive-no-img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .responsive-no-img {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 1024px) {
  .responsive-no-img {
    width: 50px;
    height: 50px;
  }
}

.responsive-div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2c3248;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .responsive-div {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .responsive-div {
    width: 75px;
    height: 75px;
  }
}
